BODY {BACKGROUND: url(images/bg-body.jpg) #fff repeat-x 0px 0px;LINE-HEIGHT: 16px; FONT-FAMILY: Arial,Helvetica,sans-serif; COLOR: #777e7f; FONT-SIZE: 12px;height:100%; overflow:hidden}
A {color:#666;}
img{border:0px;}
UL,OL{BORDER-STYLE: none;PADDING:0px; MARGIN:0px;}
.js{ height:100%;}
/* Download by http://www.codefans.net */
#wrapper {BACKGROUND:#000; height:100%}
#container {MARGIN: 0px auto; WIDTH: 970px}
#introBoxes {POSITION: relative; HEIGHT: 100%}
.introPart {DISPLAY: none}
#introWelcome {DISPLAY: block}
#introNav {POSITION: relative; HEIGHT: 105px; width:100%; margin:auto; top:-53%; text-align:center; z-index:9999;  }
 .i_bg{POSITION:absolute;HEIGHT: 105px; width:100%; background: url(Images/bg1.jpg) left ; left:-10px; top:-20px; filter:alpha(opacity=50); /*IE滤镜，透明度50%*/

-moz-opacity:0.5; /*Firefox私有，透明度50%*/

opacity:0.5;/*其他，透明度50%*/ }
#introNav #playback{ position:relative; z-index:9;LEFT: 20%; }
#introNav #playback LI {PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px;float:left;}
#introNav #playback A {	BACKGROUND-IMAGE: url(images/nav-icons.png); TEXT-INDENT: -9000px; MARGIN: 0px 3px 0px 0px; OUTLINE-WIDTH: 0px; WIDTH: 20px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 20px}
#introNav #playback .prev A {BACKGROUND-POSITION: 0px 0px}
#introNav #playback .play A {BACKGROUND-POSITION: 0px -20px}
#introNav #playback .pause {display:none;}
#introNav #playback .pause A {BACKGROUND-POSITION: 0px -60px}
#introNav #playback .next A {BACKGROUND-POSITION: 0px -40px;}
#introNav #playback A:hover {opacity: 0.9}
#timeline {POSITION: absolute; WIDTH: 100%; BACKGROUND: url(images/timeline.png) no-repeat -10px 0px; HEIGHT: 15px; OVERFLOW: hidden; TOP: 25px; LEFT: 20%; z-index:9;}
#timeline .inside {POSITION: relative; WIDTH: 990px; BACKGROUND: url(images/timeline.png) no-repeat -913px -42px; HEIGHT: 100%; }
#introNav UL.nav {POSITION: absolute; MARGIN: 0px; WIDTH: 100%; HEIGHT: 40px; TOP: 45px;LEFT: 20%; }
#introNav .nav LI {POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px}
#introNav .nav .p1 {LEFT: 5px}
#introNav .nav .p2 {LEFT: 221px}
#introNav .nav .p3 {LEFT: 412px}
#introNav .nav .p4 {LEFT: 642px}
#introNav .nav .p5 {LEFT: 835px}
#introNav .nav LI A {OUTLINE-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 14px;}
#introNav .nav LI A:hover {	COLOR: #666; TEXT-DECORATION: none}
#introNav .nav LI.active A {COLOR:#000}
#introNav .nav A .point {POSITION: absolute; TEXT-INDENT: -9000px; OUTLINE-WIDTH: 0px; WIDTH: 15px; DISPLAY: block; HEIGHT: 15px; TOP: -20px; LEFT: 0px}
#introNav .nav .p1 .point {	LEFT: 58px}
#introNav .nav .p2 .point {	LEFT: 52px}
#introNav .nav .p3 .point {	LEFT: 33px}
#introNav .nav .p4 .point {	LEFT: 60px}
#introNav .nav .p5 .point {	LEFT: 64px}

.introPart p{ font-size:26px; position:absolute; bottom:80px; line-height:30px; padding:30px;  color:#fff; text-align:left; width:100%; }
.introPart img{ margin:auto}

#introWelcome p{ bottom:80px; top:auto;}
#introPerformance p{ bottom:auto; top:32%;}
#introFeatured p{ text-align:center}
#introCommunity p{ left:35%; bottom:15%; width:65%; font-size:22px; }
