{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
{ZL:Boot()/}
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
 <style>.nav_lists  .Gid{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/} a{ color:#000}
.navbar-nav>li.munes{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}>a{color:#fff; }
.nav_lists  .Node{SField sid="文章模型数据源标签" FD="NodeID" page="0"/} a{ color:#08468f}
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
 <div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12 padding0">
<img src="{ZL.Label id="输出指定节点栏目图片" NodeID="{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}" /}" class="img-responsive" alt="" />
</div>
</div> 
</div> 
<div class="container myAnnoun">
<div class="row">
<div class="col-lg-3 col-md-3 col-xs-12 myContent_rbox padding0">
<div class="margins">
<div class="nav_lists Nod{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}">
<ul>
<li class="titles"><strong>{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}" /}</strong></li>
    {ZL.Label id="节点列表" ParentID="{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}" ShowNum="10" /}
</ul>    
</div>
</div>
</div>
 
<div class="col-lg-9 col-md-12 col-xs-12 padding5 rowh">
<ul class="breadcrumb">
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right">
<span class="bds_more">分享到：</span>
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6550456" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
<li><a href="/">首页</a><span class="divider"></span></li>
<li><a href="{ZL:GetNodeUrl({SField sid="文章模型数据源标签" FD="NodeID" page="0"/})/}">{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}</a><span class="divider"></span></li>
<li>正文</a></li>
</ul>  
 
<div class="myContent minheight500">
<h1 class="y_borders">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h1>
<div class="myAbbr">  <span id="CreateTime">发布时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}</span> <span id="Hits">浏览次数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span>
</div>
{SField sid="文章模型数据源标签" FD="content" page="{SField sid="文章模型数据源标签" FD="K_pages" page="0"/}"/}</div>
<div id="T_page">{ZL.Page id="默认内容分页标签" num="{SField sid="文章模型数据源标签" FD="pages" page="0"/}"/}</div>
 
  
</div>


</div>
</div>
<!--主体结束 -->
 
 


{ZL.Label id="全站底部"/}
 <script>
 if(document.body.clientWidth >1100){
 var h=$(".rowh").height();
  $('.Nod{SField sid="文章模型数据源标签" FD="FirstNodeID" page="0"/}').css("height",h+"px")
  }
 </script>

</body>
</html>
 
